### NASA Mars News
https://redplanetscience.com/

In [ ]:
# # Example:
# news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

# news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [29]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [30]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit visitcostarica.herokuapp.com
url = "https://redplanetscience.com/"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
news_soup = bs(html, "html.parser")

#scrape title and paragraph 
section = news_soup.select_one('div.list_text')    
section

====== WebDriver manager ======
Could not get version for google-chrome with the command:  powershell "$ErrorActionPreference='silentlycontinue' ; (Get-Item -Path "$env:PROGRAMFILES\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion ; if (-not $? -or $? -match $error) { (Get-Item -Path "$env:PROGRAMFILES(x86)\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion } if (-not $? -or $? -match $error) { (Get-Item -Path "$env:LOCALAPPDATA\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion } if (-not $? -or $? -match $error) { reg query "HKCU\SOFTWARE\Google\Chrome\BLBeacon" /v version } if (-not $? -or $? -match $error) { reg query "HKLM\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Google Chrome" /v version }"
Current google-chrome version is UNKNOWN
Get LATEST chromedriver version for UNKNOWN google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\brand\.wdm\drivers\chromedriver\win32\99.0.4844.51]

<div class="list_text">
<div class="list_date">March 20, 2022</div>
<div class="content_title">NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light</div>
<div class="article_teaser_body">Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.</div>
</div>

In [31]:
news_title = section.find('div', class_= "content_title").get_text() 
news_title

"NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light"

In [32]:
news_paragraph = section.find('div', class_= "article_teaser_body").get_text()
news_paragraph
# Close the browser after scraping
#browser.quit()

'Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.'

### JPL Mars Space Images
https://spaceimages-mars.com/

In [33]:
# Example:
#featured_image_url = 'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [34]:
url = "https://spaceimages-mars.com/"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
image_soup = bs(html, "html.parser")
#image_soup

In [35]:
#news_title = section.find('div', class_= "content_title").get_text() 

featured_image_url = image_soup.find('img',class_= "headerimage").get("src")  
featured_image_url

'image/featured/mars1.jpg'

In [36]:
image_url = f'{url}{featured_image_url}'
image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

### Mars Facts
https://galaxyfacts-mars.com/

In [37]:
# Use pandas to get table

In [38]:
mars_df = pd.read_html("https://galaxyfacts-mars.com/")[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [39]:
mars_df.columns = ['Description','Mars', "Earth"]
mars_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [40]:
mars_df.set_index('Description',inplace = True)
mars_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [41]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres
https://marshemispheres.com/

In [64]:
url = 'https://marshemispheres.com/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [65]:
results = soup.find_all('div', class_='description')
Hemisphere_img_urls = []
# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        title = result.find('h3').text
        # get the image link
        img_link = result.a['href']
        url = f"https://marshemispheres.com/" + img_link
        browser.visit(url)
        html = browser.html
        soup = bs(html, 'html.parser')
        output = soup.find('img', class_= "wide-image")
        download_link = output['src']
        img_url = f"https://marshemispheres.com/" + download_link
            # Print results only if title, price, and link are available
        if (title and download_link):
            print(title)
            print(f"https://marshemispheres.com/" + download_link)
            print('-'*107)
            
            hemis_dictionary = { 
                'Title' :title, 
                'img_url': img_url,
                "mars_facts" : mars_df}
            Hemisphere_img_urls.append(hemis_dictionary)
            
    except Exception as e:
        print(e)

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
-----------------------------------------------------------------------------------------------------------
Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
-----------------------------------------------------------------------------------------------------------
Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
-----------------------------------------------------------------------------------------------------------
Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
-----------------------------------------------------------------------------------------------------------